<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sally Wang</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Sally.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/sally.jpg" alt="sally-profile-img" width="200" height="200">
      <h2>Hello.</h2>
      <p class="intro">I am an CloudPlatform and Python Engineer. I'm the founder of Sally's Island. I ❤️ coffee.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Python & CloudPlatform</h3>
        <p>I'm learning Python programming and my job is related to cloud computing. I'm running the company's cloud platform. And I continue to learn new knowledge, such as machine learning and neural networks, and I am full of enthusiasm for these.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/mh.png" alt="monster-hunter-img">

        <h3>Fitness and Game</h3>
        <p>I really like working out and playing games. Fitness keeps me energetic every day. Playing games keeps my mind sharp. I like various third-party games as well as Nintendo's masterpieces. For example, Splatoon, Animal Crossing. I also really like Monster Hunter.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love fitness and game as much as I do.</h3>
      <p class="contact-message">Love MH as much as I do? Let's talk about how awesome it is! We can code our own game!</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.zhihu.com/people/sw-zimu">Zhihu</a>
    <a class="footer-link" href="https://twitter.com/sherryuuer">Twitter</a>
    <a class="footer-link" href="https://github.com/sherryuuer">Github</a>
    <p class="copyright">© 2023 Sally Wang @ Tokyo.</p>
  </div>
</body>

</html>
